body {
    text-align: center;
    background-color: #fffcf6;
    
}

h1 {
    font-weight: lighter;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

hr {
  border: none;
  height: 1px;
  width: 750px;
  background: repeating-linear-gradient(
    to right,
    #4A70A9,          /* dash color */
    #4A70A9 10px,      /* dash length */
    transparent 5px,
    transparent 15px  /* total segment = dash + gap */
  );
}

.title {
    font-size: 26px;
    padding-top: 60px;
}

.main {
    font-size: 32px;
    padding-top: 90px;
}

#subtitle {
    margin-bottom: 5px;
}

#message {
    border-radius: 15px;
    height: 100px;
    width: 550px;
    background-color: #8fabd4;
    padding-top: 60px;
    margin: auto;
    position: relative;
    font-size: 40px;
}

.ending {
    font-size: 23px;
    padding-top: 220px;
}

.button {
    background-color: #8fabd4;
    color: #fffcf6;
    font-size: 20px;
    border-radius: 50px;
    padding-bottom: 5px;
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}

.button:hover {
    background-color: #4a70a9;
}