body {
    text-align: center;
    background-color: #fffcf6;
}

.title {
    font-size: 26px;
    padding-bottom: 135px;
    padding-top: 60px;
}

.main {
    font-size: 32px;
}

#message {
    border: 4px solid #4a70a9;
    border-radius: 15px;
    height: 150px;
    width: 550px;
    background-color: #8fabd4;
    margin: auto;
    position: relative;
}

.ending {
    font-size: 28px;
    padding-top: 135px;
}